{% if request.user.is_authenticated %}
<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}">Log out</a>
{% else%}
<a href="{% url 'login' %}">Log in</a>
{% endif%}


<h1>My to do List</h1>
<a href="{% url 'task-create' %}">Add Item</a>

<table>
    <thead>
        <tr>
            <th>Items</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
  
        {% empty %}
        <tr>
            <th>
                No items in list
            </th>
        </tr>
           
    {% endfor %}
</tbody>
</table>